.serverless-splash-wrapper
  %section.home-splash.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      %a.hero-title.hero-cta.hero-ci-title{ href: "/customers/cern/" }
        %h1
          Announcing GitLab Serverless
      %p.hero-description
        The true value of serverless is best realized via a single-application DevOps experience – that's why we're launching GitLab Serverless.
      %a.btn.cta-btn.accent.hero-cta.hero-ci-free-trial{href: "/2018/12/11/introducing-gitlab-serverless/"}
        Read the announcement
    .hero-image-container
      %a.hero-image-link.hero-cta.hero-cern-image{ href: "/product/serverless/" }
        %img.hero-image{ src: "/images/serverless/serverless-header.svg" }
