- current_page.data.extra_css ||= []
- current_page.data.extra_css |= ['salary-calculator.css']

- current_page.data.extra_js ||= []
- current_page.data.extra_js |= ['move-calculator.js']
.move-container.col-xs-12
  %h2#move Move
  .col-sm-12
    %h4.title Current Location
    .col-sm-4
      .dropdown.current-country
        %button.dropdown-menu-toggle.btn{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.label Country
          %span.title --
          %i.fa.fa-chevron-down
        %ul.dropdown-menu.dropdown-scroll
          %li.filter-container
            %input.filter-input.js-country-filter{ type: 'search', placeholder: 'Search country' }
            %i.fa.fa-search
          - data.location_factors.uniq(&:country).sort_by(&:country).each do |p|
            %li
              %span.key= p.country
    .col-sm-4
      .dropdown.current-area
        %button.dropdown-menu-toggle.disabled.btn{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.label Area
          %span.title --
          %span.subtitle
          %i.fa.fa-chevron-down
        %ul.dropdown-menu.dropdown-scroll
          %li.filter-container
            %input.filter-input.js-area-filter{ type: 'search', placeholder: 'Search area' }
            %i.fa.fa-search
          - data.location_factors.sort_by(&:area).each do |p|
            %li.hidden{'data-current-country' => p.country}
              %span.key= p.area
              %span.display-value= sprintf('%0.2f', (p.locationFactor*0.01).round(2))
    .col-sm-4
      .form-group.input-container.current-salary
        %label.input-label{ for: 'current-salary' } Current Compensation
        %span.input-prefix $
        %input#current-salary.form-control.input-sm.input-field{ placeholder: 'Enter your compensation', maxlength: "10" }
        %span.input-suffix USD
    %h5.current-contract.hidden
      Contract type:
      %span.contract-type --
      at GitLab
      %span.company-type BV.
  .col-sm-12
    %h4.title New Location
    .col-sm-4
      .dropdown.new-country
        %button.dropdown-menu-toggle.btn{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.label Country
          %span.title --
          %i.fa.fa-chevron-down
        %ul.dropdown-menu.dropdown-scroll
          %li.filter-container
            %input.filter-input.js-country-filter{ type: 'search', placeholder: 'Search country' }
            %i.fa.fa-search
          - data.location_factors.uniq(&:country).sort_by(&:country).each do |p|
            %li
              %span.key= p.country
    .col-sm-4
      .dropdown.new-area
        %button.dropdown-menu-toggle.disabled.btn{ type: 'button', 'data-toggle' => 'dropdown' }
          %span.label Area
          %span.title --
          %span.subtitle
          %i.fa.fa-chevron-down
        %ul.dropdown-menu.dropdown-scroll
          %li.filter-container
            %input.filter-input.js-area-filter{ type: 'search', placeholder: 'Search area' }
            %i.fa.fa-search
          - data.location_factors.sort_by(&:area).each do |p|
            %li.hidden{'data-new-country' => p.country}
              %span.key= p.area
              %span.display-value= sprintf('%0.2f', (p.locationFactor*0.01).round(2))
    .col-sm-4
      .compensation
        .title New Compensation
        .amount --
    %h5.new-contract.hidden
      Contract type:
      %span.contract-type --
      at GitLab
      %span.company-type BV.
  .col-sm-12.formula-container
    %h4 How did we calculate your compensation?
    .formula
      .variable-group
        .variable.currentSalary
          %span.name Current Salary
          %span.value $ --
      .symbol.multiplication x
      .variable-group
        .variable.newLocationFactor
          %span.name New Location Factor
          %span.value --
      .symbol.division /
      .variable-group
        .variable.currentLocationFactor
          %span.name Current Location Factor
          %span.value --
      .symbol.multiplication x
      .variable-group
        .symbol (
        .variable.newContractTypeFactor
          %span.name New Contract Type Factor
          %span.value --
        .symbol /
        .variable.currentContractTypeFactor
          %span.name Current Contract Type Factor
          %span.value --
        .symbol )
    .explanation
    Find out
    = succeed '.' do
      %a{href: '/handbook/people-operations/global-compensation#compensation-calculator'} how our calculator works
    You are also eligible for
    %a{href: '/handbook/stock-options/'} stock options
    and
    = succeed '.' do
      %a{href: '/handbook/benefits/'} other benefits
