---
layout: markdown_page
title: "Product Vision - Package"
---

- TOC
{:toc}

This is the product vision for Package.

- See a high-level
  [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=devops%3Apackage&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS).

## Overview

The Package stage includes all features related to publishing and sharing a
project's packages and images.

<%= partial("direction/categories", :locals => { :stageKey => "package" }) %>

## Common workflows

* [First class Releases](https://gitlab.com/groups/gitlab-org/-/epics/186)
* [Group](https://gitlab.com/gitlab-org/gitlab-ee/issues/5839) and [Instance](https://gitlab.com/gitlab-org/gitlab-ee/issues/7769) level repository endpoints
* [Specific sub-domain for binary repository API](https://gitlab.com/gitlab-org/gitlab-ee/issues/5815)
* Proxy support to public repositories

## Docker Registry

GitLab has included an integrated Docker registry for some time, making it easy
to securely publish and share Docker images. In 2019, we plan to enhance the
registry with additional management and security features, in particular focused
on improving the lifecycle management of images.

* [Image lifecycle management](https://gitlab.com/groups/gitlab-org/-/epics/434)
* Publish container scanning results in image registry UI
* [Helm chart repository](https://gitlab.com/gitlab-org/gitlab-ce/issues/35884) 

## Binary Artifact Repository

### Maven Repository 

* [Maven Repository Improvements](https://gitlab.com/groups/gitlab-org/-/epics/179)

### Linux Package Repository

We plan to offer both YUM and APT based interfaces, for broad compatability
across the Linux ecosystem.

* [Linux Package Repostory](https://gitlab.com/groups/gitlab-org/-/epics/185)

### NPM Repository

* [NPM Repository](https://gitlab.com/groups/gitlab-org/-/epics/186)

## Prioritization Process`

In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization)
as the product team at large. Issues will tend to flow from having no milestone,
to being added to the backlog, to being added to this page and/or a specific
milestone for delivery.

You can see our entire public backlog for Package at this
[link](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Package);
filtering by labels or milestones will allow you to explore. If you find
something you're interested in, you're encouraged to jump into the conversation
and participate. At GitLab, everyone can contribute!

Issues with the "direction" label have been flagged as being particularly
interesting, and are listed in the sections below.

## Direction

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "package" }) %>
