---
layout: default
title: Forrester Cites GitLab As A Strong Performer In Value Stream Management Tools Evaluation
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Forrester Cites GitLab As A Strong Performer In Value Stream Management Tools Evaluation

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p In Forrester's evaluation of the emerging market for value stream management (VSM) tools, they identified the 13 most significant providers in the category and evaluated them.
            %br

            %p This report details how each vendor scored against 10 criteria and where they stand in relation to each other. Application development and delivery (AD&D) leaders should use it to select the right solution for improving software development.
            %br

            %p Forrester evaluated GitLab as a Strong Performer in value stream managemnt in The Forrester New Wave™: Value Stream Management Tools, Q3 2018. As the report states, “GitLab combines end-to-end capability with the power of open source.”
            %br

            %p Download the full report to learn more about why GitLab was cited as a Strong Performer in The Forrester New Wave™: Value Stream Management Tools, Q3 2018.

        .col-md-4.col-md-offset-1
          %h2 Download the report
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="/resources/forrester-new-wave-vsm-2018/">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
