---
layout: default
title: GitLab Day Atlanta Presented by GitLab
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab Day Atlanta 
        %h2.page-subtitle Presented by GitLab

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 October 30th, 12pm-7pm
            %h4 Top Golf Alpharetta, 10900 Westside Pkwy, Alpharetta, GA 30009
            %p GitLab Day Atlanta is a half day symposium covering real-life DevOps transformation stories. Whether you're a GitLab expert, novice, or somewhere in between, join us in Atlanta to learn how others are solving their enterprise problems using GitLab.
            %p We will have local speakers, GitLab experts, free food, and golf games available to attendees.
            %p Register today for an afternoon of networking and learning with like minds who are delivering apps, tools, services and best practices using continuous integration, kubernetes, and public cloud resources to help their organization deliver software faster and more reliably.
            %p Space is limited. Please register to hold your spot. Registration is free and includes lunch.
              
        .col-md-4.col-md-offset-1
          %h2 Register for the event:
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1591
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1591, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional event details.
